<div class='container__conntries'>
  <img src={{flags}} alt={{name}} class='container__img' />
  <h2>{{name}}</h2>
</div>
<p><span style='font-weight:800;'>Capital: </span>{{capital}}</p>
<p><span style='font-weight:800 ;'>Population: </span>{{population}}</p>
<p><span style='font-weight:800 ;'>Languages: </span>{{languages}} </p>